::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(106, 106, 106, 0.6);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.wrapper {
  background: white;
  min-height: 100%;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  width: 15%;
  position: fixed;
  top: 58px;
  overflow-y: auto;
  max-height: calc(100vh - 58px);

  a {
    text-decoration: none;
    color: black;
  }

  & > a {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
    border-bottom: 2px rgba(0, 0, 0, 0.44) solid;

    h2 {
      margin-left: 5%;
      margin-bottom: 60px;
    }
  }

  .notesActions {
    margin-top: 20%;
    display: flex;
    align-items: center;
    gap: 10px;

    .searchBox {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;

      &:focus-within {
        .searchLogo {
          visibility: hidden;
        }
      }

      .searchLogo {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      input {
        border: none;
        flex-grow: 1;
        padding: 8px;
        font-size: 16px;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }


  }

  .notesContainer {
    margin-top: 10%;
    margin-left: 10%;
    max-width: 100%;
    margin-bottom: 20%;

    .note {
      .activeLink {
        font-weight: bold;

        img {
          width: 20px;
          height: 20px;
          margin-left: 5px;
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 5px;


        img {
          width: 15px;
          height: 15px;
          transition: 0.1s ease-in;
        }

        p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  @media (max-width: 900px) {
    display: none;
  }
}
