.wrapper {
  background-color: #dcdfec;
  color: black;
  padding: 10px;
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;

  .logo {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;

    .logoTitle {
      font-weight: bold;
    }

    img {
      width: 50px;
      height: 50px;
    }

    span {
      margin: 0;
      font-size: 24px;
    }
  }

  .auth {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;

    a, span {
      cursor: pointer;
      padding: 5px;
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
  }
}