.wrapper {
  background-color: #dcdfec;
  color: black;
  padding: 10px;
  text-align: center;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  box-sizing: border-box;

  .logo {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;

    .logoTitle {
      font-weight: bold;

    }

    img {
      width: 50px;
      height: 50px;
      @media (max-width: 250px) {
        display: none;
      }
    }

    span {
      margin: 0;
      font-size: 24px;
    }

    .logoSubTitle {
      @media (max-width: 500px) {
        display: none;
      }
    }
  }

  .auth {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 20px;

    .logout {
      display: none;
      width: 25px;
      height: 25px;
      @media (max-width: 700px) {
        display: block;
      }
    }

    .loginText {
      cursor: pointer;
      padding: 5px;
      text-decoration: none;
      color: black;
      font-size: 20px;
      @media (max-width: 700px) {
        display: none;
      }
    }

    .authImg {
      display: none;

      .log {
        width: 24px;
        height: 24px;
      }

      .reg {
        width: 25px;
        height: 25px;
      }

      @media (max-width: 700px) {
        display: block;
      }
    }
  }
}