.change {
  display: flex;
  flex-direction: column;
  background: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0 60px;

  h1 {
    margin: 10px 0 0 0;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 0;

    .add {
      display: flex;
      padding: 5px;
      width: 50%;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      transition: 0.4s ease-in;

      input {
        border: none;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        background: inherit;
        font-size: 20px;
        padding: 10px;
        box-shadow: 0 1px skyblue;

        transition: 0.3s ease-in;

        &:focus {
          outline: none;
          box-shadow: 0 3px skyblue;
        }
      }

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    .saveDelete {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      span {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        background: #dcdfec;
        padding: 10px;
        display: inline-block;
        line-height: 10px;

        &:hover {
          background: #cacede;

        }
      }
    }


  }

}