.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  border-radius: 4px;
  background: rgba(211, 211, 211, 0.2);
  transition: 0.1s ease-in;
  border: none;

  &:hover {
    background: rgba(211, 211, 211, 0.37);
  }

  &:focus-within {
    background: rgba(211, 211, 211, 0.49);
  }

  .checkTitle {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-grow: 1;

    input {
      width: 20px;
      height: 30px;
      cursor: pointer;
      background: inherit;

      &:checked + .changeTitle {
        text-decoration: line-through
      }
    }

    .itemTitle {
      font-size: 24px;
      cursor: pointer;
      display: none;
    }

    .changeTitle {
      color: black;
      font-size: 24px;
      cursor: text;
      border: none;
      width: 95%;

      &:focus {
        outline: none;
        font-weight: bold;
      }
    }
  }

  .deleteEdit {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      border-radius: 50%;
      transition: 0.1s ease-in;

      &:hover {
        background: rgba(255, 0, 0, 0.27);
        box-shadow: 0 0 10px red;
      }
    }
  }
}